body {
  margin: 0;
  padding: 0;
  text-align: center;
  /* background-repeat: no-repeat;
  background-size: 100% 121%; */

  background: #0d82ff88;
}
#connect4 {
  background-color: #007bff;
  -webkit-box-shadow: 3px 6px 5px 0px rgba(2, 34, 68, 1);
  -moz-box-shadow: 3px 6px 5px 0px rgba(2, 34, 68, 1);
  box-shadow: 3px 6px 5px 0px rgba(2, 34, 68, 1);
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.colorTurn {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 auto;

  margin-top: 20px;
}
.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 1rem;
}
.playerInput1 {
  margin: 10px;
  text-align: center;
  border: 3px solid #ffc107;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
}
.playerInput2 {
  margin: 10px;
  text-align: center;
  border: 3px solid #ffc107;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
}
h3 {
  color: #ffffff;
  /* height: vh; */
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
}
h4 {
  font-size: 32px;
  padding-top: 3px;
  padding-bottom: 9px;
  margin: 7px;
  /* animation: modalPops 5s; */
}
.players {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  /* border: 2px solid #f4f4f4; */
  margin: 0 auto;
  display: none;
  animation: names 1s;
}
.col {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 7px;
  -webkit-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.col.empty {
  cursor: pointer;
}
.modal {
  /* position: absolute; */
  margin: auto;
  width: 300px;
}
.modal-content {
  display: none;
  background-color: #ff1900;
  /* white-space: pre-line; */
  margin: 0 auto;
  color: #f4f4f4;
  font-size: 20px;
  padding: 20px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
  animation: modalPops 1s;
}

.closeBtn {
  width: 10px;
  height: 10px;
  background-color: #007bff;

  position: absolute;

  float: right;
  font-size: 15px;
  color: #ff0101;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}
.resetBtn {
  display: inline-block;
  align-items: center;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  margin: 12px 0 0 12px;
}
.empty-redPlayer {
  background-color: #ff142bea;
}
.empty-yellowPlayer {
  background-color: #ffee07ea;
}
.col.redPlayer {
  background-color: #ff142b;
}
.col.yellowPlayer {
  background-color: #ffee07;
}

/* keyframes */
@keyframes modalPops {
  from {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes names {
  from {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
